<!DOCTYPE html>
<html lang="en">
        <head>
                <title>Title of the document</title>
        </head>
        <body>
                <nav>
                        <ul>
                                <li>
                                        <a href="{% url 'logout' %}">Logout</a>
                                        <a href="{% url 'signup' %}">Signup</a>
                                        <a href="{% url 'login' %}">Login</a>
                                </li>
                        </ul>
                </nav>
                {% block content %}
                {% endblock content %}
        </body>
</html>
