{% extends "base.html" %}

{% block content %}
   <header>
      <nav>
         <ul>
            {% if user.is_authenticated %}
               <li>
                  <a href="{% url 'logout' %}">Logout</a>
               </li>
               <li>
                  <a href="{% url 'create_account' %}">Create Account</a>
               </li>
               <li>
                  <a href="{% url 'create_category' %}">Create Category</a>
               </li>
               <li>
                  <a href="{% url 'expence_list' %}">Categories List</a>
               </li>
               <li>
                  <a href="{% url 'home' %}">Receipts List</a>
               </li>
               <li>
                  <a href="{% url 'create_receipt' %}">Create Receipts</a>
               </li>
               <li>
                  <a href="{% url 'account_list' %}">Accounts List</a>
               </li>
            {% else %}
               <li>
                  <a href="{% url 'login' %}">login</a>
               </li>
               <li>
                  <a href="{% url 'signup' %}">Sign Up</a>
               </li>
            {% endif %}
         </ul>
      </nav>
   </header>
   <main>
      <h1>My Receipts</h1>
      <table>
         <thead>
            <th>Vendor</th>
            <th>Total</th>
            <th>Tax</th>
            <th>Date</th>
            <th>Category</th>
            <th>Account</th>
         </thead>
         <tbody>
            {% for item in receipt_list.all %}
               <tr>
                  <td>{{ item.vendor }}</td>
                  <td>{{ item.total }}</td>
                  <td>{{ item.tax }}</td>
                  <td>{{ item.date|date:"m-d-Y" }}</td>
                  <td>{{ item.category }}</td>
                  <td>{{ item.account }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
   </main>
{% endblock content %}
